body {
  font-family: "Montserrat", sans-serif; /* Fallback to sans-serif if Roboto is not available */
}

.kuning {
  #FFDC90
}

.typing-animation {
  display: inline-flex;
  gap: 0.3rem;
  margin: 0.5rem;
}
.typing-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4a5568;
  animation: typing 1.4s infinite;
}
.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes typing {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 640px) {
  .container {
    /* Add any specific styles for small screens here */
  }
}

@media (min-width: 768px) {
  .container {
    /* Add any specific styles for medium screens here */
  }
}

@media (min-width: 1024px) {
  .container {
    /* Add any specific styles for large screens here */
  }
}

@media (min-width: 1240px) {
  .container {
    /* Add any specific styles for extra large screens here */
  }
}

@media (min-width: 1400px) {
  .container {
    /* Add any specific styles for 2xl screens here */
  }
}
